.popup {
    width: 600px;
    height: 250px;
    background-color: rgb(49, 41, 52);
    border: 5px solid rgb(57, 76, 117);
    border-radius: 20px;
    position: relative;

    h2{
        text-align: center;
        margin: 15px;
    }
}
