.button{
    width: 150px;
    height: 50px;
    background-color: rgb(147, 161, 255);;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    border-radius: 7px;
    border: 0;
    position: absolute;

    right: 40px;
    bottom: 30px;
    &:hover{
    border: 2px solid rgb(76, 77, 81);

    }
}